# Virtual environment
.venv/
venv/
env/
ENV/

# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Flask / environment variables
.env
.flaskenv
instance/

# Logs
*.log

# OS / System files
.DS_Store
Thumbs.db

# IDE configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
